.wrapper h3{
    margin-bottom: 15px;
}

.griding {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}

.griding .griditem {
  justify-self: end;
}

select {
  width: 300px;
}

input[type="text"]:not([type="radio"]) {
  width: 300px;
}

.griding button{
    width: 300px;
    color: black;
    background-color: #91D04F;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

.wrapper h3{
    background-color: yellow;
}